/* Cart Specific CSS */

.fk-cart-container {
  font-family: Roboto, Arial, sans-serif;
}

.fk-cart-item:hover {
  background-color: #fafafa;
}

.fk-cart-title {
  max-width: 90%;
  font-size: 1rem;
}

.hover-blue:hover {
  color: #2874f0 !important;
}

.fk-place-order-btn {
  background-color: #fb641b;
  border-radius: 2px;
  font-size: 1rem;
  min-width: 200px;
}

.fk-place-order-btn:hover {
  background-color: #f15206;
  color: white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2) !important;
}

.border-dashed {
  border-top-style: dashed !important;
}

@media (max-width: 991px) {
  .fk-summary-card {
    position: static !important;
  }
}

input:focus {
  outline: none;
}