.cart-item-card{
border-radius:15px;
transition:0.3s;
}

.cart-item-card:hover{
transform:translateY(-3px);
}

.cart-product-img{
height:120px;
object-fit:contain;
padding:10px;
}

.quantity-box{
display:flex;
align-items:center;
justify-content:center;
}

.cart-summary{
border-radius:15px;
position:sticky;
top:100px;
}